<section id="header">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1>
                    <?= general.title ?>
                </h1>
            </div>
        </div>
    </div>
</section>