<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-12">

                <article>
                    <h2>Why Nature Sounds Help You Relax, According to Science</h2>

                    <h5>A walk in the woods—or even a sound machine that plays recordings from nature—can affect heart
                        rate
                        and
                        alter connections in the brain, say researchers.</h5>

                    <small>- By Amanda MacMillan</small>

                    <p>
                        You know that feeling of clear-headed calm that washes over you when you listen to water
                        babbling
                        down a
                        stream, or leaves rustling in the wind? Researchers say they’ve pinpointed a scientific
                        explanation
                        for why
                        sounds from nature have such a restorative effect on our psyche: According to a new study, they
                        physically
                        alter the connections in our brains, reducing our body’s natural fight-or-flight instinct.
                    </p>

                    <p>
                        Natural sounds and green environments have been linked with relaxation and well-being for
                        hundreds
                        of years,
                        of course. But the new research, published in the journal Scientific Reports, is the first to
                        use
                        brain
                        scans, heart-rate monitors, and behavioral experiments to suggest a physiological cause for
                        these
                        effects.
                    </p>

                    <p>
                        To investigate the connection between the brain, the body, and background noise, researchers at
                        Brighton and
                        Sussex Medical School in England recruited 17 healthy adults to receive functional magnetic
                        resonance
                        imaging (fMRI) scans while listening to a series of five-minute soundscapes of natural and
                        manmade
                        environments.
                    </p>

                    <p>
                        During each soundscape, participants also performed a task to measure their attention and
                        reaction
                        time.
                        Their heart rates were monitored as well, to indicate changes in their autonomic nervous
                        systems—the
                        system
                        of organs involved in involuntary processes such as breathing, blood pressure, temperature,
                        metabolism, and
                        digestion.
                    </p>

                    <p>
                        When they studied the fMRI results, the researchers noticed that activity in the brain’s default
                        mode
                        network—an area involved in mind wandering and “task-free” states of wakefulness—varied
                        depending on
                        the
                        background sounds being played. Specifically, listening to artificial sounds was associated with
                        patterns of
                        inward-focused attention, while nature sounds prompted more external-focused attention.
                    </p>

                    <p>
                        Inward-focused attention can include worrying and rumination about things specific to one's
                        self—patterns
                        that have been linked to conditions involving psychological stress (including depression,
                        anxiety,
                        and
                        post-traumatic stress disorder). Participants’ reaction times were slower when they listened to
                        artificial
                        sounds compared to natural ones, as well.
                    </p>

                    <p>
                        Slight differences in heart rate were also detected, indicating a shift in the body’s autonomic
                        nervous
                        system response. Overall, nature sounds were associated with a decrease in the body’s
                        sympathetic
                        response
                        (which causes that “fight-or-flight” feeling) and an increase in parasympathetic response—the
                        one
                        that helps
                        the body relax and function in normal circumstances, and is sometimes referred to as the
                        “rest-digest”
                        response.
                    </p>

                    <p>
                        Those results weren’t the same for everyone, though: People who started the study with the
                        highest
                        sympathetic responses (suggesting high levels of stress) registered the biggest relaxation
                        benefits
                        from the
                        nature clips. People who started with low levels of sympathetic response, on the other hand,
                        actually had a
                        slight increase when listening to natural versus artificial sounds.
                    </p>

                    <p>
                        Lead author Cassandra Gould van Praag, PhD, a research fellow at the University of Sussex, says
                        the
                        study’s
                        findings may have real-world impacts—especially for people with high stress levels. “I would
                        definitely
                        recommend a walk in natural surroundings to anyone, whether they're currently feeling frazzled
                        or
                        not,” she
                        told Health via email. “Even a few minutes of escape could be beneficial.”
                    </p>

                    <p>
                        Gould van Praag says the research has inspired her to get outdoors for breaks or listen to
                        nature
                        sounds
                        using an app throughout her workday. “I really did find the downloaded tracks helpful for those
                        times when I
                        couldn't get away from my desk,” she says. (She adds that it took some time to find an app “that
                        was
                        right
                        for me,” so she doesn’t recommend rushing into any software or noise-machine purchases without
                        trying them
                        first.)
                    </p>

                    <p>
                        Once you settle on a nature sound you find pleasant, Gould van Praag says it may also help
                        improve
                        your
                        focus and concentration. In the study, participants performed best at "attention tasks" when
                        listening to
                        sounds that were considered familiar, compared with unfamiliar ones. “I think this supports the
                        importance
                        of finding an environment or sound machine that is right for the individual,” says Gould van
                        Praag.
                        “Rainforest noises might only have a strong relaxing effect if you are already very familiar
                        with
                        rainforests!”
                    </p>

                    <p>
                        Finding that ideal background soundscape could potentially help to promote better rest, as well.
                        “Poor sleep
                        causes autonomic stress (the fight-or-flight response), and autonomic stress causes poor sleep,”
                        she
                        says.
                        “This would suggest that anything which can reduce the fight-or-flight response may be
                        beneficial to
                        improved quality of sleep.” Minimizing manmade noise—like street traffic—may also be helpful,
                        she
                        adds.
                    </p>
                </article>

            </div>
        </div>
    </div>
</section>