<!doctype html>
<html lang="pt-br">

<head>
    <?- include('../common/head', {
        title: 'Error',
        options: {}
    }) ?>
</head>

<body>

    <span><?= errorMessage ?></span>

    <?- include('../common/scripts') ?>
</body>

</html>